<a href="https://colab.research.google.com/github/Tycour/crisanti-toolshed/blob/main/docs/lessons/02_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

Think of a variable as a name attached to a particular object/container that is keeping a value. In Python, variables need not be declared or defined in advance, as is the case in many other programming languages. To create a variable, you just assign it a value and then start using it. Assignment is done with a single equals sign (=):

In [ ]:
my_name = 'nicole'
my_age = 25

This is read or interpreted as “`my_name` is assigned the value Nace.” Once this is done, `my_name` can be used in a statement or expression, and its value will be substituted:

In [ ]:
print(my_name)
print(my_age)

Nace
29

You can also combine several variables together in one print statement.

In [ ]:
print('My name is', my_name, 'and I am', my_age, 'years old')

My name is Nace and I am 29 years old

### Variable names 
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

There are several styling options for variable names that are discussed endlessly among programmers. 

- __Camel Case__: Second and subsequent words are capitalized, to make word boundaries easier to see. (Presumably, it struck someone at some point that the capital letters strewn throughout the variable name vaguely resemble camel humps.)
Example: `numberOfCollegeGraduates`
- __Pascal Case__: Identical to Camel Case, except the first word is also capitalized.
Example: `NumberOfCollegeGraduates`
- __Snake Case__: Words are separated by underscores.
Example: `number_of_college_graduates`

Python Naming Conventions suggested standards for names of different object types and suggests the following:
__Snake Case should be used for functions and variable names.__

### Variable types



```
`# This is formatted as code`
```

Variables `name` and `age` are both Python objects, but they can have different types depending on their values. We can check which type they are by using function ... wait for it ... `type()`! Surprising, huh?

In [ ]:
type(my_name)

str

In [ ]:
type(my_age)

int

`str`stands for string and `int` stands for integer. We are going to discover different types of Python objects through this course.

It is allowed to combine different variables of the same type together but you can not combine variables of different types. For example:

In [ ]:
a = 1
b = 5

a + b

6

In [ ]:
my_name = 'John' 
my_age = 42

print(my_name + my_age)

That didn't go well. However, we can occasionally change variable types.

In [ ]:
print(my_age, type(my_age))

my_age = str(my_age)
print(my_age, type(my_age))

print(my_name + my_age)

42 <class 'int'>
42 <class 'str'>
John42

## Exercise
The target of this exercise is to create a __string__, an __integer__, and a __floating point number__. The string should be named __mystring__ and should contain the word __"hello"__. The floating point number should be named __myfloat__ and should contain the number __10.0__, and the integer should be named __myint__ and should contain the number __20__.

Print all defined variables in a single print statement.

## Strings
If we have time, go through `len()`, `replace()`, substringing, `index()`

## Booleans
In Python, you may define a value to be a bool (i.e. true or false), using the syntax:

In [ ]:
bool_1 = True
bool_2 = False

In the future lectures when we're going to look at conditional statements we're going to come back to boolean variables. It's enough for now to remember that they exist and how to check their type.