<a href="https://colab.research.google.com/github/Tycour/crisanti-toolshed/blob/main/docs/lessons/07_Conditionals_and_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Recording of the session: https://youtu.be/5ZjMPjONQFQ

## Conditionals - revision

In [ ]:
'''
- In a Python program, the if statement is how you perform this sort of decision-making. 
- It allows for conditional execution of a statement or group of statements based on the value of an expression.
- Implemented as 'if' expression in the code - below

if <expression>:
    <statement/body>

- If <expr> is true (evaluates to a value that is “truthy”), then <statement> is executed. 
- If <expr> is false, then <statement> is skipped over and not executed.

- Sometimes, you want to evaluate a condition and take one path if it is true but specify an alternative path if it is not. 
- This is accomplished with an else clause:

if <expression>:
    <statement>
else:
    <alternative statement>

- Sometimes we also want to evaluate an alternative condition explicitly - we can use elif clause.

if <expression>:
    <statement>
elif <expression>:
    <explicit alternative statement>
else:
    <alternative statement>

'''

a = 7
b = 10
names = ['Mike', 'Lara', 'Mary', 'Joe', 'Frank']

# if a < b:
#     print(a, b)

# bool - boolean and can be only 2 values - True or False

# if - combination of conditions
# if a == 8:
#     print('a is 8')
# elif a == 7:
#     print('a is 7')
# else:
#     print('conditions are not met')

if 'Mike' == names[0]:
    print('Mike is the first one in the list')
else:
    print('THe first one in list is', names[0])

# elif
# else

THe first one in list is Nace

In [ ]:
# operators used in expression (> < = && ||)
'''
< - smaller than
> - bigger than
<= - smaller or equal than
>= - bigger or equal than
== - is equal
!= - is not equal
'''

In [ ]:
sentence = 'Popeye is a sailor man.'
# .startswith() -> methods
# .endswith()

if sentence.startswith('Popeye'):
    print('condition is true')


names = ['Mike', 'Lara', 'Mary', 'Joe', 'Frank']

if 'Dario' not in names:
    # names.append('Dario')

    # to insert an element to a specific position in a list we can use insert method
    # the first argument is index in the list where we want to insert 'Dario' to
    names.insert(2, 'Dario')

else:
    print('Dario is already in the list of names')

print(names)

condition is true
['Mike', 'Lara', 'Dario', 'Mary', 'Joe', 'Frank']

## Homework
- Read sequences from file `_data/05_guide_sequences.txt`
- For each sequence calculate GC content
- Save only %GC content value to an empty list for sequences that are at least 20 bp long and have more than 40% GC content

## Collections: Dictionary, tuple, set, + list

In [ ]:
'''
Dictionary
    - A dictionary is a collection which is unordered, changeable and indexed. 
    - In Python dictionaries are written with curly brackets, and they have keys and values.
    - Item: Key -> Value
    - You can access the items of a dictionary by referring to its key name, inside square brackets:
'''

# list of names
names = ['Mike', 'Lara', 'Mary', 'Joe', 'Frank']

# dictionary
person = {
    'name': 'Mike',
    'age': 25,
    'height': 185.6,
    'scientist': False,
    'weight': 80,
    'home': 'London',
}

# access property/key
person['age']

# if a key doesnt exist, we get a Key Error
# person['birthday']

print(person.values())
print(person.keys())
print(person.values())

dict_values(['Mike', 25, 185.6, False, 80, 'London'])
dict_keys(['name', 'age', 'height', 'scientist', 'weight', 'home'])
dict_values(['Mike', 25, 185.6, False, 80, 'London'])

In [ ]:
# list of dictionaries - a way to store several dictionaries

person_1 = {
    'name': 'Mike',
    'age': 25,
    'height': 185.6,
    'scientist': False,
    'weight': 80,
    'home': 'London'
}

person_2 = {
    'name': 'Rachel',
    'age': 23,
    'height': 160.3,
    'scientist': True,
    'weight': 53,
    'home': 'Manchester',
}

participants = [person_1, person_2]

for i, person in enumerate(participants):
    print('Participant no.', i)
    print(person['name'], 'is from', person['home'], 'and they are', person['age'], 'years old.')
    print('----')

Participant no. 0
Mike is from London and they are 25 years old.
----
Participant no. 1
Rachel is from Manchester and they are 23 years old.
----

In [ ]:
# Loop over dict items
# Dictionary item consists of a key (ie 'age') and a value (ie 25)
for item in person_2.items():
    
    # Item returns a tuple of (key, value)
    # We can extract an element form the tuple with indices
    # key = item[0]
    # value = item[1]

    # or we can just save the elements to two variables separated by comma
    key, value = item
    print(key, value, item)

# We can also extract key, value from a tuple directly in for loop
for key, value in person_2.items():
    print(key, value)

name Rachel ('name', 'Rachel')
age 23 ('age', 23)
height 160.3 ('height', 160.3)
scientist True ('scientist', True)
weight 53 ('weight', 53)
home Manchester ('home', 'Manchester')
name Rachel
age 23
height 160.3
scientist True
weight 53
home Manchester

In [ ]:
# tuple is also returned by function enumerate()
# it consists of (index, element)
for i, name in enumerate(names):
    print(i, name)

# Loop and check

0 Mike
1 Lara
2 Mary
3 Joe
4 Frank

In [ ]:
'''
Tuples
    - A tuple is a collection which is ordered and unchangeable. 
    - In Python tuples are written with round brackets.
    - You can access tuple items by referring to the index number, inside square brackets
'''

person = ('Nace', 29, 'London')
person[0]

# assign
person[0] = 'Joe' # returns error - cant change values of a tuple

In [ ]:
'''
Sets
    - A set is a collection which is unordered and unindexed. 
    - In Python sets are written with curly brackets.
    - Once a set is created, you cannot change its items, but you can add new items.
    - You cannot access items in a set by referring to an index, since sets are unordered the items has no index.
'''

list_of_fruit_1 = ['apple', 'banana', 'pear', 'orange', 'apple', 'pear', 'orange']
list_of_fruit_2 = ['apple', 'kiwi', 'carrot', 'pear', 'orange']

# fruit = {'apple', 'banana', 'pear'}
# we can transform list to a set (will contain only unique values)
fruit_basket_1 = set(list_of_fruit_1)
fruit_basket_2 = set(list_of_fruit_2)

print(fruit_basket_1, fruit_basket_2)

fruit_basket_1.intersection(fruit_basket_2)
fruit_basket_1.union(fruit_basket_2)

# .add() -> adds one element to a set
# .update() -> adds several elements to a set .update(['fruit_1', 'fruit_2'])
fruit_basket_1.update(['fruit_1', 'fruit_2'])

# .remove() -> removes one element from a set
# .discard() -> removes several elements from a set 

# issubset()
# issuperset()
# union()
# intersection()

{'banana', 'orange', 'apple', 'pear'} {'carrot', 'orange', 'pear', 'apple', 'kiwi'}

{'a', 'apple', 'banana', 'f', 'orange', 'pear'}

## Homework
Implement a codon table as `codon_table` that keeps a given trinucleotide as a key and its aminoacid as a value.

1.   Write a cell that counts how many codons code each aminoacid
2.   Write a function `translate(sequence, codon_table)` that returns aminoacid sequence for input `sequence`. Test your function with a coding sequence of your choice.