<a href="https://colab.research.google.com/github/Tycour/crisanti-toolshed/blob/main/docs/lessons/08_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Revision

Part 1: https://youtu.be/WNUTs5XbRpE
Part 2: https://youtu.be/KpxasfctWcU

# Python
## What happens when you run Python code?
![Python execution](https://i1.wp.com/overiq.com/wp-content/uploads/2018/11/program-execution-by-compiler.png "Python execution")

Compiler transforms Python code (high-level) into C code (low-level) and then into machine code that can be finally run on CPU.

## What is code?
Imagine code being a set of instructions that can be understood by the computer. For example - we have a nucleotide sequence of a gene and we want to translate it to amino acid sequence. We all know how to write the recipe for that program:

1. Take the first 3 nucleotides of the DNA sequence (first codon)
2. Change T->U (mRNA)
3. Look up in the codon table which amino acid is coded by the codon
4. Add the coded amino acid to the sequence
5. Take the second codon from the sequence
6. ....

You can see that the same operation needs to be done for the whole nucleotide sequence, from the first codon to the last. If we did that by hand, one codon at the time, it would take us ages to get through a gene that is a few kb in size. This is where coding can come in handy.

## Jupyter notebooks

Jupyter notebooks is an open-source web-based interactive development  environment which runs in your browser. It allows a combination of text written in a html-like format, such as the block of text you're reading right now, and inline code, tools and outputs such as this one:

In [ ]:
print('Hello Coding Club!')

Hello Coding Club!

In [ ]:
# some code

In [ ]:
print('Hello Coding Club! Nice to meet you!')

Hello Coding Club! Nice to meet you!

# Variables

Think of a variable as a name attached to a particular object/container that is keeping a value. In Python, variables need not be declared or defined in advance, as is the case in many other programming languages. To create a variable, you just assign it a value and then start using it. Assignment is done with a single equals sign (=):

In [ ]:
my_name = 'Nicole'
my_age = 25

In [ ]:
print(my_name)
print(my_age)

Nicole
25

In [ ]:
print('My name is', my_name, 'and I am', my_age, 'years old')

My name is Nicole and I am 25 years old

In [ ]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Illegal variable names:
myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: ignored

Variables `name` and `age` are both Python objects, but they can have different types depending on their values. We can check which type they are by using function ... wait for it ... `type()`! Surprising, huh?

In [ ]:
my_height = 180.8

type(my_name), type(my_age), type(my_height)

(str, int, float)

We can concatenate strings together and/or add integers together but we can't mix variables with different types together.

In [ ]:
# two integers
a = 10
b = 5

# two strings
x = 'My age '
y = '5'

# print(a+b, x+y)

print('this is a string') # single quote
print("this is a string") # double quote

print(a, x)

'''
This is all
Comment 
random_age = 10
Section
'''

this is a string
this is a string
10 My age

NameError: ignored

In [ ]:
sentence = 'All they could see was the blue water surrounding their sailboat.'

# change characters to upper and lower case
# sentence.upper()
# sentence.lower()

# .upper() -> methods
# len() -> functions

# # how to get the length of the sentence
# len(sentence)

# # count how many times a letter occurs
# sentence.count('a')

# # find the first occurrence of a letter
# sentence.index('a')

# # replace characters
sentence.replace('they', 'A')
# sentence.index('t')

'All A could see was the blue water surrounding their sailboat.'

In [ ]:
# index / 0-based counting
# print(sentence[0:10])

# subsetting strings, start, end, step
# sentence[index] -> char on position index
# sentence[start:end:step]

# difference between methods and functions; len vs count

# split the sentence into words - list (len, index,)
sentence = 'All they could see was the blue water surrounding their sailboat.'
words = sentence.split(' ')
# print(words[3])

list

## List

In [ ]:
# Lists
names = ['Mike', 'Lara', 'Mary', 'Joe', 'Frank'] 

# words is a list
# words

# length of a list
len(names) # length
# element of a list
names[4] # 6th element

# adding elements to a list
# names.append('Rocco')

names.insert(1, 'Rocco')
print(names)

['Mike', 'Rocco', 'Lara', 'Mary', 'Joe', 'Frank']

Exercise - calculate % GC content in a string

In [ ]:
seq_1 = 'TAGGGACATCGTCGTGAAAACTTCTTCTCCTTGTCAGTGTTGAGGAACTTTGCAATGTTTGAAACATGGTTGCTATAAGTTTGATAAAGCTACTGGGTTGG'
GC = ((seq_1.count('G') + seq_1.count('C'))/len(seq_1)) * 100
print(GC,'%')

40.5940594059406 %

## Dictionary

In [ ]:
'''
Dictionary
    - A dictionary is a collection which is unordered, changeable and indexed. 
    - In Python dictionaries are written with curly brackets, and they have keys and values.
    - Item: Key -> Value
    - You can access the items of a dictionary by referring to its key name, inside square brackets:
'''

# dictionary
person = {
    'name': 'Mike',
    'age': 25,
    'height': 185.6,
    'scientist': False,
    'birthday': '05/10/1995',
    'weight': 80,
    'home': 'London',
    'pet_name': 'Doggo'
}

# access property/key
# person['age']

# if a key doesnt exist, we get a Key Error
# person['birthday']

# print(person.keys())
# print(person.values())

person_1_items = person.items()
print(person_1_items)

dict_items([('name', 'Mike'), ('age', 25), ('height', 185.6), ('scientist', False), ('birthday', '05/10/1995'), ('weight', 80), ('home', 'London'), ('pet_name', 'Doggo')])

## Tuple, set

In [ ]:
'''
Tuples
    - A tuple is a collection which is ordered and unchangeable. 
    - In Python tuples are written with round brackets.
    - You can access tuple items by referring to the index number, inside square brackets
'''

person = ('Frank', 29, 'London')
person[0]

# assign
# person[0] = 'Joe' # returns error - cant change values of a tuple

'Frank'

In [ ]:
'''
Sets
    - A set is a collection which is unordered and unindexed. 
    - In Python sets are written with curly brackets.
    - Once a set is created, you cannot change its items, but you can add new items.
    - You cannot access items in a set by referring to an index, since sets are unordered the items has no index.
'''

basket_1 = ['apple', 'banana', 'pear', 'orange', 'apple', 'pear', 'orange']
basket_2 = ['apple', 'kiwi', 'carrot', 'pear', 'orange']



# fruit = {'apple', 'banana', 'pear'}
# we can transform list to a set (will contain only unique values)
fruit_basket_1 = set(basket_1)
fruit_basket_2 = set(basket_2)

# print(fruit_basket_1)

# print(fruit_basket_1, fruit_basket_2)

# fruit_basket_1.intersection(fruit_basket_2)
# fruit_basket_1.union(fruit_basket_2)

# .add() -> adds one element to a set
# .update() -> adds several elements to a set .update(['fruit_1', 'fruit_2'])
# fruit_basket_1.update(['fruit_1', 'fruit_2'])

# .remove() -> removes one element from a set
# .discard() -> removes several elements from a set 

# issubset()
# issuperset()
# union()
# intersection()

{'apple', 'banana', 'carrot', 'kiwi', 'orange', 'pear'}

## Types

In [ ]:
name = 'Sarah'  # string 
age = 35        # integer
height = 169.3  # float
siblings = ['Maria', 'Luke', 'John II', 'Ricky', 'Anna', 'Lucy'] # list
favorite_fruit = {'apple', 'orange'} # set
is_scientist = True # boolean
parents = ('John', 'Francesca') # tuple

person = {
    'name': name,
    'age': age,
    'height': height,
    'siblings': siblings,
    'favorite_fruit': favorite_fruit,
    'is_scientist': is_scientist,
    'parents': parents
} # dictionary

person.values()
person.keys()
person.items()

dict_items([('name', 'Sarah'), ('age', 35), ('height', 169.3), ('siblings', ['Maria', 'Luke', 'John II', 'Ricky', 'Anna', 'Lucy']), ('favorite_fruit', {'apple', 'orange'}), ('is_scientist', True), ('parents', ('John', 'Francesca'))])

## Iterators

In [ ]:
'''
- Iterator in Python is simply an object that can be iterated upon. 
- An object which will return data, one element at a time.
- Elegant way of iterating is by using the for loop. 
- Using this, we can iterate over any object that can return an iterator
- Iterator can be a list, string, file etc.
'''

sequences = ['TAGGGACATCGTCGTGAAAACTTCTTCTCCTTGTCAGTGTTGAGGAACTTTGCAATG', 
             'AACTTTGCAATGTTTGAAACATGGTTGCTATAAGTTTGATAAAGC',
             'CATACACACACCTATTGCCCTTCATTGGCCTCATTCATCAAGCGGCACGGTCCGGATG',
             'GTGAAAACTTCTTCTCCTTGTCAGTGTTGAGGAACTTTGCAATGT',
             'TCGTGACAAGATTCTCCTGCAAACACACATACACGTGATTGCGT',
             'last element']


# for i, sequence in enumerate(sequences):
#     for j, nucleotide in enumerate(sequence):
#         print(i, j, nucleotide)

# print('--------------')
# print('sequence is', x)

In [ ]:
list_of_numbers = [12, 4, 68, 19]

for number in list_of_numbers:
    # some logic here, by adding for number it defined what's in the parenthesis to be a number
    print(number)

# if we print x outside for loop, it will hold the value from the last loop
print(number)

12
4
68
19

In [ ]:
sequences = ['TAGGGACATCGTCGTGAAAACTTCTTCTCCTTGTCAGTGTTGAGGAACTTTGCAATG', 
             'AACTTTGCAATGTTTGAAACATGGTTGCTATAAGTTTGATAAAGC',
             'CATACACACACCTATTGCCCTTCATTGGCCTCATTCATCAAGCGGCACGGTCCGGATG',
             'GTGAAAACTTCTTCTCCTTGTCAGTGTTGAGGAACTTTGCAATGT',
             'TCGTGACAAGATTCTCCTGCAAACACACATACACGTGATTGCGT',
             'last element']

for x in sequences:
    print(x)

# add enumerate
# nested loop

## Functions

In [ ]:
'''
A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.
A function can return data as a result.

y = f(x) = x + 1

To write a function we need to follow some rules.

    - we start function definition with 'def' (keyword - reserved word in Python)
    - we define function name - can be arbitrary, like a variable name
    - in parentheses we define arguments/parameters
    - body of the function needs to be indeted - tab
    - we return a value with keyword 'return'

Scope
    - variables can only reach the area in which they are defined, which is called scope.
    - think of it as the area of code where variables can be used
    - python supports global variables (usable in the entire program) and local variables.
    - variables defined inside a function are called local variables
'''

people = [('Anna', 'Strampelli'),
          ('Federica', 'Bernardini'),
          ('Nace', 'Kranjc')]

def get_initials(name, surname):
    i_1 = name[0]
    i_2 = surname[0]

    return i_1 + i_2


for name, surname in people:
    initials = get_initials(name, surname)

    print(initials)

AS
FB
NK

In [ ]:
global_variable = 12

def calculate_eq(a, b, c=10, d=20):
    # result is a local variable
    # as well as a, b, c, d - regardless if a variable with the same name
    # already exists outside function's scope

    print('c:', c)
    print('d:', d)

    result = ((a * b) - c) / d
    return result


x = 5
y = 7

# explain optional/positional paramteres/arguments
calculate_eq(x, y, d=55)

c: 10
d: 55

0.45454545454545453

## Conditions

In [ ]:
'''
- In a Python program, the if statement is how you perform this sort of decision-making. 
- It allows for conditional execution of a statement or group of statements based on the value of an expression.
- Implemented as 'if' expression in the code - below

if <expression>:
    <statement/body>

- If <expr> is true (evaluates to a value that is “truthy”), then <statement> is executed. 
- If <expr> is false, then <statement> is skipped over and not executed.

- Sometimes, you want to evaluate a condition and take one path if it is true but specify an alternative path if it is not. 
- This is accomplished with an else clause:

if <expression>:
    <statement>
else:
    <alternative statement>

- Sometimes we also want to evaluate an alternative condition explicitly - we can use elif clause.

if <expression>:
    <statement>
elif <expression>:
    <explicit alternative statement>
else:
    <alternative statement>

'''

a = 2
b = 10

condition = a > b
print(condition)


if condition:
    print('true')

False

In [ ]:
person['is_scientist'] = False

# if person['is_scientist']:
#     print(person['name'], 'is a scientist!')
# else:
#     print(person['name'], 'is not scientist!')

'''
>
<
>=
<=
==
!=
'''

if person['age'] > 30 and person['is_scientist']:
    print(person['name'], 'has access')
else:
    print(person['name'], 'doesnt have the access')

    if not person['age'] > 30:
        print(person['name'], 'is not old enoug')

    if not person['is_scientist']:
        print(person['name'], 'isnt a scientist')

Sarah doesnt have the access
Sarah isnt a scientist

In [ ]:
if 'John III' in person['siblings']:
    print(person['name'], 'has a brother called John II')

In [ ]:
# condition = False

# if True:
#     print('value is bigger than 6')
# else:
#     print('value is not bigger than 6, because value is', a)

# a = 7
# b = 10
# names = ['Mike', 'Lara', 'Mary', 'Joe', 'Frank']

# if a < b:
#     print(a, b)

# # bool - boolean and can be only 2 values - True or False

# # if - combination of conditions
# if a == 8:
#     print('a is 8, do something')
# elif a == 7:
#     print('a is 7, do something')
# else:
#     print('conditions are not met, do something')


# your_name = 'Rich'

# if your_name in names:
#     print(your_name, ' is the first one in the list')
# else:
#     print(your_name, 'is not in the list')
#     names.append(your_name)

# print(names)