<a href="https://colab.research.google.com/github/Tycour/crisanti-toolshed/blob/main/docs/lessons/Homework_Pandas_Anas_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# read the file with expressions
df = pd.read_csv('_data\FPKM_pops_means.hisat2_fc_deseq2.tsv', sep='\t')
df

,gene,meiosis,post,pre,start,TXCHROM,TXSTRAND
0,AGAP000002,0.168295,0.190916,4.791566,0.934404,X,-
1,AGAP000005,0.185211,0.235256,33.319461,3.487351,X,-
2,AGAP000007,4.141331,5.470178,114.653974,17.868842,X,-
3,AGAP000008,2.134246,2.199064,36.452038,6.308825,X,+
4,AGAP000009,0.234832,0.596922,5.952497,1.167224,X,-
...,...,...,...,...,...,...,...
13762,AGAP029062,0.078171,0.033322,0.000000,0.021975,2R,+
13763,b2-mCherry,654.484594,1653.178541,3.735633,70.944710,ref_plasmid,-
13764,DsRed(RFP),6.464097,7.345401,2.642643,2.629055,ref_plasmid,+
13765,VASA1-eCFP,18.356955,2.788195,2.895002,13.161769,ref_plasmid,+
13766,VASA2-GFP,2.694838,0.382614,20.635144,5.861378,ref_plasmid,+

In [ ]:
# remove TXCHROM and TXSTRAND columns
df = df.drop(['TXCHROM', 'TXSTRAND'], axis=1)
df

             gene     meiosis         post         pre      start
0      AGAP000002    0.168295     0.190916    4.791566   0.934404
1      AGAP000005    0.185211     0.235256   33.319461   3.487351
2      AGAP000007    4.141331     5.470178  114.653974  17.868842
3      AGAP000008    2.134246     2.199064   36.452038   6.308825
4      AGAP000009    0.234832     0.596922    5.952497   1.167224
...           ...         ...          ...         ...        ...
13762  AGAP029062    0.078171     0.033322    0.000000   0.021975
13763  b2-mCherry  654.484594  1653.178541    3.735633  70.944710
13764  DsRed(RFP)    6.464097     7.345401    2.642643   2.629055
13765  VASA1-eCFP   18.356955     2.788195    2.895002  13.161769
13766   VASA2-GFP    2.694838     0.382614   20.635144   5.861378

[13767 rows x 5 columns]

In [ ]:
# reshuffle the columns order
# in df.loc --> [row, column]
df = df.loc[:,['pre', 'start', 'meiosis', 'post', 'gene']]
df

              pre      start     meiosis         post        gene
0        4.791566   0.934404    0.168295     0.190916  AGAP000002
1       33.319461   3.487351    0.185211     0.235256  AGAP000005
2      114.653974  17.868842    4.141331     5.470178  AGAP000007
3       36.452038   6.308825    2.134246     2.199064  AGAP000008
4        5.952497   1.167224    0.234832     0.596922  AGAP000009
...           ...        ...         ...          ...         ...
13762    0.000000   0.021975    0.078171     0.033322  AGAP029062
13763    3.735633  70.944710  654.484594  1653.178541  b2-mCherry
13764    2.642643   2.629055    6.464097     7.345401  DsRed(RFP)
13765    2.895002  13.161769   18.356955     2.788195  VASA1-eCFP
13766   20.635144   5.861378    2.694838     0.382614   VASA2-GFP

[13767 rows x 5 columns]

In [ ]:
# sent gene name as index and remove gene name column
df.index = df['gene']
df = df.drop('gene', axis=1)
df

                   pre      start     meiosis         post
gene
AGAP000002    4.791566   0.934404    0.168295     0.190916
AGAP000005   33.319461   3.487351    0.185211     0.235256
AGAP000007  114.653974  17.868842    4.141331     5.470178
AGAP000008   36.452038   6.308825    2.134246     2.199064
AGAP000009    5.952497   1.167224    0.234832     0.596922
...                ...        ...         ...          ...
AGAP029062    0.000000   0.021975    0.078171     0.033322
b2-mCherry    3.735633  70.944710  654.484594  1653.178541
DsRed(RFP)    2.642643   2.629055    6.464097     7.345401
VASA1-eCFP    2.895002  13.161769   18.356955     2.788195
VASA2-GFP    20.635144   5.861378    2.694838     0.382614

[13767 rows x 4 columns]

In [ ]:
# function to calculate tau value
# for the details refer to: https://academic.oup.com/bib/article/18/2/205/2562739
def calculate_tau(x):
    max_e = max(x)
    x_hats = []
    
    for tissue_e in x:
        if max_e > 0:
            x_hat = tissue_e / max_e
            x_hats.append(1 - x_hat)
        else:
            x_hats.append(1)
            
    tau = sum(x_hats) / (len(x) - 1)
    
    return tau

In [ ]:
# create a copy of dataframe
df_annotated = df.copy()

In [ ]:
# apply the function
df_annotated['tau'] = df_annotated.apply(calculate_tau, axis=1)
df_annotated

                   pre      start     meiosis         post       tau
gene
AGAP000002    4.791566   0.934404    0.168295     0.190916  0.910007
AGAP000005   33.319461   3.487351    0.185211     0.235256  0.960906
AGAP000007  114.653974  17.868842    4.141331     5.470178  0.920106
AGAP000008   36.452038   6.308825    2.134246     2.199064  0.902684
AGAP000009    5.952497   1.167224    0.234832     0.596922  0.888059
...                ...        ...         ...          ...       ...
AGAP029062    0.000000   0.021975    0.078171     0.033322  0.764203
b2-mCherry    3.735633  70.944710  654.484594  1653.178541  0.852977
DsRed(RFP)    2.642643   2.629055    6.464097     7.345401  0.467431
VASA1-eCFP    2.895002  13.161769   18.356955     2.788195  0.657805
VASA2-GFP    20.635144   5.861378    2.694838     0.382614  0.855605

[13767 rows x 5 columns]

In [ ]:
# define which cell population genes are specific for
# we set two conditions:
#  - tau > 0.7
#  - specificity is defined by having the highest expression    
df_annotated['specific'] = df_annotated.loc[df_annotated['tau'] > 0.7,['pre', 'start', 'meiosis', 'post']].idxmax(axis=1)
df_annotated

                   pre      start     meiosis         post       tau specific
gene
AGAP000002    4.791566   0.934404    0.168295     0.190916  0.910007      pre
AGAP000005   33.319461   3.487351    0.185211     0.235256  0.960906      pre
AGAP000007  114.653974  17.868842    4.141331     5.470178  0.920106      pre
AGAP000008   36.452038   6.308825    2.134246     2.199064  0.902684      pre
AGAP000009    5.952497   1.167224    0.234832     0.596922  0.888059      pre
...                ...        ...         ...          ...       ...      ...
AGAP029062    0.000000   0.021975    0.078171     0.033322  0.764203  meiosis
b2-mCherry    3.735633  70.944710  654.484594  1653.178541  0.852977     post
DsRed(RFP)    2.642643   2.629055    6.464097     7.345401  0.467431      NaN
VASA1-eCFP    2.895002  13.161769   18.356955     2.788195  0.657805      NaN
VASA2-GFP    20.635144   5.861378    2.694838     0.382614  0.855605      pre

[13767 rows x 6 columns]

In [ ]:
#2 Find genes that have the peak expression in meiosis
df_annotated.loc[(df_annotated['meiosis'] > df_annotated['pre']) & (df_annotated['meiosis'] > df_annotated['start']) & (df_annotated['meiosis'] > df_annotated['post']), :]

                  pre      start    meiosis       post       tau specific
gene
AGAP000190   0.000000   0.000000   0.014515   0.000000  1.000000  meiosis
AGAP000192   0.000000   0.000000   0.023492   0.007262  0.896962  meiosis
AGAP000232   0.000000   0.000000   0.097385   0.000000  1.000000  meiosis
AGAP000390   0.024632   0.019776   0.040510   0.029885  0.388692      NaN
AGAP000550   0.029590   0.000000   0.079391   0.000000  0.875765  meiosis
...               ...        ...        ...        ...       ...      ...
AGAP029051  26.349091  24.866144  52.101765  39.940741  0.416808      NaN
AGAP029059   0.000000   0.000000   0.038813   0.000000  1.000000  meiosis
AGAP029061   0.020636   0.000000   0.045439   0.029138  0.634869      NaN
AGAP029062   0.000000   0.021975   0.078171   0.033322  0.764203  meiosis
VASA1-eCFP   2.895002  13.161769  18.356955   2.788195  0.657805      NaN

[1992 rows x 6 columns]

In [ ]:
#alternative to the above:
df_annotated['peak'] = df_annotated.loc[:,['pre', 'start', 'meiosis', 'post']].idxmax(axis=1)
df_annotated.loc[(df_annotated['peak'] == 'meiosis'), : ]

,pre,start,meiosis,post,tau,specific,peak
gene,,,,,,,
AGAP000190,0.000000,0.000000,0.014515,0.000000,1.000000,meiosis,meiosis
AGAP000192,0.000000,0.000000,0.023492,0.007262,0.896962,meiosis,meiosis
AGAP000232,0.000000,0.000000,0.097385,0.000000,1.000000,meiosis,meiosis
AGAP000390,0.024632,0.019776,0.040510,0.029885,0.388692,NaN,meiosis
AGAP000550,0.029590,0.000000,0.079391,0.000000,0.875765,meiosis,meiosis
...,...,...,...,...,...,...,...
AGAP029051,26.349091,24.866144,52.101765,39.940741,0.416808,NaN,meiosis
AGAP029059,0.000000,0.000000,0.038813,0.000000,1.000000,meiosis,meiosis
AGAP029061,0.020636,0.000000,0.045439,0.029138,0.634869,NaN,meiosis
AGAP029062,0.000000,0.021975,0.078171,0.033322,0.764203,meiosis,meiosis
VASA1-eCFP,2.895002,13.161769,18.356955,2.788195,0.657805,NaN,meiosis

In [ ]:
#df_annotated.loc[: , max('pre', 'start', 'meiosis', 'post')]
#returns max value out of four columns for each gene
#would expect to be able to use it in formula below but doesn't work
#df_annotated.loc[df_annotated['meiosis'] == max('pre', 'start', 'meiosis', 'post'), :]

In [ ]:
# reading the file using space delimiter (' ') rather than tab delimiter (sep='\t')
df1 = pd.read_csv('_data\CT_pops_diffexpr_PRE_MEIOSIS.hisat2_fc_deseq2.tab', delimiter=' ')
df1

#selecting genes with <2.5 log change in PRE with respect to MEIOSIS and p_values <0.05
df1_m = df1.loc[(df1['log2FoldChange'] < -2.5) & (df1['pvalue'] < 0.05) , :]
df1_m

#dropping columns that confuse me
df1_m = df1_m.drop(['baseMean', 'lfcSE', 'stat', 'padj'], axis = 1)

#renaming columns so I can tell after merging which one belongs to which dataset
df1_m = df1_m.rename(columns={"log2FoldChange": "log2FC_1", "pvalue": "pvalue_1"})
df1_m

            log2FC_1       pvalue_1
AGAP028432 -4.693156   4.454956e-14
AGAP004688 -4.925647   3.055754e-02
AGAP004701 -4.965966   4.225237e-37
AGAP004702 -5.363919   6.515389e-09
AGAP004707 -2.713419   1.251757e-21
...              ...            ...
AGAP012916 -7.671507   4.042910e-11
AGAP000538 -5.352331   2.721254e-03
AGAP000859 -2.943005   8.671630e-03
b2-mCherry -7.454123  4.367490e-268
VASA1-eCFP -2.663892   1.219470e-21

[1589 rows x 2 columns]

In [ ]:
df2 = pd.read_csv('_data\CT_pops_diffexpr_START_MEIOSIS.hisat2_fc_deseq2.tab', delimiter=' ')
df2

#selecting genes with <2.5 log change in START with respect to MEIOSIS and p_values <0.05
df2_m = df2.loc[(df2['log2FoldChange'] < -2.5) & (df2['pvalue'] < 0.05) , :]
df2_m

#dropping columns that confuse me
df2_m = df2_m.drop(['baseMean', 'lfcSE', 'stat', 'padj'], axis = 1)

#renaming columns so I can tell after merging which one belongs to which dataset
df2_m = df2_m.rename(columns={"log2FoldChange": "log2FC_2", "pvalue": "pvalue_2"})
df2_m

            log2FC_2      pvalue_2
AGAP004688 -4.683603  3.973350e-02
AGAP004701 -3.679949  2.445815e-24
AGAP004702 -3.277418  2.282679e-06
AGAP004707 -2.721146  1.656902e-21
AGAP004726 -2.695864  5.920600e-34
...              ...           ...
AGAP012863 -2.902165  1.569064e-09
AGAP012873 -3.897091  1.103419e-02
AGAP012916 -3.289714  5.633588e-08
AGAP000538 -5.110286  4.209370e-03
b2-mCherry -3.206125  2.384253e-55

[495 rows x 2 columns]

In [ ]:
df3 = pd.read_csv('_data\CT_pops_diffexpr_MEIOSIS_POST.hisat2_fc_deseq2.tab', delimiter=' ')
df3

#selecting genes with >2.5 log change in MEIOSIS with respect to POST and p_values <0.05
df3_m = df3.loc[(df3['log2FoldChange'] > 2.5) & (df3['pvalue'] < 0.05) , :]
df3_m

#dropping columns that confuse me
df3_m = df3_m.drop(['baseMean', 'lfcSE', 'stat', 'padj'], axis = 1)

#renaming columns so I can tell after merging which one belongs to which dataset
df3_m = df3_m.rename(columns={"log2FoldChange": "log2FC_3", "pvalue": "pvalue_3"})
df3_m

            log2FC_3      pvalue_3
AGAP004722  2.580684  4.080125e-11
AGAP004793  3.005914  2.745942e-71
AGAP004823  2.799416  4.286770e-28
AGAP004845  3.788547  3.825848e-09
AGAP004848  3.598928  7.046036e-64
...              ...           ...
AGAP000814  3.004826  2.432883e-02
AGAP000947  2.847588  4.543178e-02
AGAP013312  2.733599  2.814233e-02
VASA2-GFP   2.797931  2.344086e-08
VASA1-eCFP  2.718251  2.739601e-18

[546 rows x 2 columns]

In [ ]:
# Now I need to merge the tables together to only take the genes that are present in both
# I wanted to call the index colum name "Gene" but it won't allow me to
# I thought that if there is no column specified on which to perform the merge (since I can't call index column "Gene") Python would pick the index column, but that's not happening because this doesn't work:
# df_m = pd.merge(df1_m, df2_m)

In [ ]:
# Solution --> googled how to merge by index (default is Inner merge)

merge_df1_df2 = df1_m.merge(df2_m, left_index=True, right_index=True)
merge_df1_df2

            log2FC_1       pvalue_1  log2FC_2      pvalue_2
AGAP004688 -4.925647   3.055754e-02 -4.683603  3.973350e-02
AGAP004701 -4.965966   4.225237e-37 -3.679949  2.445815e-24
AGAP004702 -5.363919   6.515389e-09 -3.277418  2.282679e-06
AGAP004707 -2.713419   1.251757e-21 -2.721146  1.656902e-21
AGAP004726 -5.055711   3.547741e-91 -2.695864  5.920600e-34
...              ...            ...       ...           ...
AGAP012828 -4.863912   2.400952e-31 -2.672524  3.419347e-19
AGAP012863 -4.337405   3.727617e-14 -2.902165  1.569064e-09
AGAP012916 -7.671507   4.042910e-11 -3.289714  5.633588e-08
AGAP000538 -5.352331   2.721254e-03 -5.110286  4.209370e-03
b2-mCherry -7.454123  4.367490e-268 -3.206125  2.384253e-55

[466 rows x 4 columns]

In [ ]:
df_m = merge_df1_df2.merge(df3_m, left_index=True, right_index=True)
df_m

,log2FC_1,pvalue_1,log2FC_2,pvalue_2,log2FC_3,pvalue_3
AGAP005835,-6.203514,1.236615e-15,-2.592275,7.111613e-06,2.554765,3.254072e-05
AGAP007099,-5.985915,1.947898e-10,-3.310818,9.703357e-07,3.014089,6.340120e-05
AGAP001395,-3.901882,3.273205e-78,-2.739349,6.246571e-46,2.624424,1.493298e-33
AGAP013269,-6.442130,3.794355e-81,-3.413292,1.519210e-34,3.959210,9.821341e-38
AGAP002453,-3.075163,9.800434e-04,-3.630329,2.797312e-04,3.435778,3.556502e-03
AGAP002638,-7.995773,2.013273e-34,-3.059399,9.572691e-24,3.089634,9.466620e-20
AGAP003759,-5.378602,2.090031e-08,-5.131483,8.646223e-08,5.940372,1.532043e-05
AGAP003760,-5.643435,8.949172e-07,-4.591746,5.390430e-06,3.995402,4.930238e-04
AGAP010448,-3.008486,9.412248e-03,-6.386877,2.703609e-05,2.551536,3.419499e-02
AGAP011667,-5.958803,6.710138e-31,-2.969216,3.351240e-14,2.571002,6.242852e-10
AGAP008222,-5.144193,7.615236e-04,-2.980982,1.639466e-02,3.416061,2.337103e-02

In [ ]:
# Alternative: renaming all the tables, then merging them, then selecting what I want
df1_c = df1.copy()
df1_c = df1_c.rename(columns={"log2FoldChange": "log2FC_1", "pvalue": "pvalue_1", "baseMean": "baseMean_1", "lfcSE": "lfcSE_1" , "stat": "stat_1", "padj": "padj_1"})
df1_c

df2_c = df2.copy()
df2_c = df2_c.rename(columns={"log2FoldChange": "log2FC_2", "pvalue": "pvalue_2", "baseMean": "baseMean_2", "lfcSE": "lfcSE_2" , "stat": "stat_2", "padj": "padj_2"})
df2_c

df3_c = df3.copy()
df3_c = df3_c.rename(columns={"log2FoldChange": "log2FC_3", "pvalue": "pvalue_3", "baseMean": "baseMean_3", "lfcSE": "lfcSE_3" , "stat": "stat_3", "padj": "padj_3"})
df3_c

,baseMean_3,log2FC_3,lfcSE_3,stat_3,pvalue_3,padj_3
AGAP004677,935.691750,-0.469235,0.383350,-1.224038,2.209378e-01,3.024052e-01
AGAP004678,5625.136274,-0.973613,0.330262,-2.947998,3.198393e-03,6.580506e-03
AGAP004679,1256.881098,-1.079640,0.369662,-2.920617,3.493386e-03,7.150098e-03
AGAP004680,0.000000,NaN,NaN,NaN,NaN,NaN
AGAP004681,0.128074,-0.531434,4.407356,-0.120579,9.040246e-01,NaN
...,...,...,...,...,...,...
AGAP028393,108.206670,-2.828232,0.309998,-9.123375,7.282051e-20,6.655806e-19
DsRed(RFP),73.237796,-0.185094,0.567781,-0.325996,7.444272e-01,8.121559e-01
VASA2-GFP,139.461609,2.797931,0.501020,5.584474,2.344086e-08,8.390641e-08
b2-mCherry,17168.516429,-1.336849,0.204072,-6.550855,5.720847e-11,2.546908e-10
VASA1-eCFP,149.739010,2.718251,0.311664,8.721739,2.739601e-18,2.190092e-17

In [ ]:
merge_df1_df2 = df1_c.merge(df2_c, left_index=True, right_index=True)
merge_df1_df2

df_all = merge_df1_df2.merge(df3_c, left_index=True, right_index=True)
df_all

,baseMean_1,log2FC_1,lfcSE_1,stat_1,pvalue_1,padj_1,baseMean_2,log2FC_2,lfcSE_2,stat_2,pvalue_2,padj_2,baseMean_3,log2FC_3,lfcSE_3,stat_3,pvalue_3,padj_3
AGAP004677,935.691750,3.295567,0.378791,8.700216,3.312519e-18,9.422090e-18,935.691750,1.428021,0.379520,3.762704,1.680860e-04,3.679756e-04,935.691750,-0.469235,0.383350,-1.224038,2.209378e-01,3.024052e-01
AGAP004678,5625.136274,-0.510916,0.330243,-1.547094,1.218406e-01,1.480890e-01,5625.136274,0.023516,0.330210,0.071217,9.432253e-01,9.613274e-01,5625.136274,-0.973613,0.330262,-2.947998,3.198393e-03,6.580506e-03
AGAP004679,1256.881098,1.700401,0.368668,4.612286,3.982641e-06,6.960677e-06,1256.881098,0.512422,0.369119,1.388230,1.650669e-01,2.273492e-01,1256.881098,-1.079640,0.369662,-2.920617,3.493386e-03,7.150098e-03
AGAP004680,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
AGAP004681,0.128074,-1.105792,4.407356,-0.250897,8.018939e-01,NaN,0.128074,1.128396,4.358082,0.258920,7.956967e-01,NaN,0.128074,-0.531434,4.407356,-0.120579,9.040246e-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AGAP028393,108.206670,1.707782,0.307246,5.558349,2.723385e-08,5.276471e-08,108.206670,1.260255,0.311218,4.049422,5.134435e-05,1.187453e-04,108.206670,-2.828232,0.309998,-9.123375,7.282051e-20,6.655806e-19
DsRed(RFP),73.237796,-1.294165,0.566774,-2.283387,2.240758e-02,3.004549e-02,73.237796,-1.301484,0.568504,-2.289314,2.206110e-02,3.605107e-02,73.237796,-0.185094,0.567781,-0.325996,7.444272e-01,8.121559e-01
VASA2-GFP,139.461609,2.944223,0.279882,10.519510,7.023766e-26,2.582786e-25,139.461609,1.133185,0.285749,3.965665,7.319145e-05,1.667902e-04,139.461609,2.797931,0.501020,5.584474,2.344086e-08,8.390641e-08
b2-mCherry,17168.516429,-7.454123,0.213090,-34.981058,4.367490e-268,1.262989e-265,17168.516429,-3.206125,0.204588,-15.671098,2.384253e-55,1.588216e-53,17168.516429,-1.336849,0.204072,-6.550855,5.720847e-11,2.546908e-10
VASA1-eCFP,149.739010,-2.663892,0.278755,-9.556381,1.219470e-21,3.924995e-21,149.739010,-0.482160,0.266941,-1.806240,7.088085e-02,1.061371e-01,149.739010,2.718251,0.311664,8.721739,2.739601e-18,2.190092e-17

In [ ]:
meiosis_up = df_all.loc[(df_all['log2FC_1'] < -2.5) & (df_all['pvalue_1'] < 0.05) & (df_all['log2FC_2'] < -2.5) & (df_all['pvalue_2'] < 0.05) & (df_all['log2FC_3'] > 2.5) & (df_all['pvalue_3'] < 0.05), :]

meiosis_up

,baseMean_1,log2FC_1,lfcSE_1,stat_1,pvalue_1,padj_1,baseMean_2,log2FC_2,lfcSE_2,stat_2,pvalue_2,padj_2,baseMean_3,log2FC_3,lfcSE_3,stat_3,pvalue_3,padj_3
AGAP005835,34.068645,-6.203514,0.775366,-8.000752,1.236615e-15,3.198748e-15,34.068645,-2.592275,0.577303,-4.490320,7.111613e-06,1.812702e-05,34.068645,2.554765,0.614878,4.154916,3.254072e-05,8.646176e-05
AGAP007099,15.164123,-5.985915,0.940384,-6.365393,1.947898e-10,4.127846e-10,15.164123,-3.310818,0.676014,-4.897561,9.703357e-07,2.691251e-06,15.164123,3.014089,0.753564,3.999781,6.340120e-05,1.626231e-04
AGAP001395,154.788250,-3.901882,0.208411,-18.722048,3.273205e-78,5.162965e-77,154.788250,-2.739349,0.192548,-14.226811,6.246571e-46,2.299856e-44,154.788250,2.624424,0.217406,12.071531,1.493298e-33,3.589121e-32
AGAP013269,242.068922,-6.442130,0.337660,-19.078720,3.794355e-81,6.330286e-80,242.068922,-3.413292,0.278451,-12.258154,1.519210e-34,2.783366e-33,242.068922,3.959210,0.308356,12.839732,9.821341e-38,3.095687e-36
AGAP002453,6.386066,-3.075163,0.932944,-3.296194,9.800434e-04,1.477467e-03,6.386066,-3.630329,0.999160,-3.633381,2.797312e-04,5.969617e-04,6.386066,3.435778,1.178641,2.915034,3.556502e-03,7.271188e-03
AGAP002638,92.347146,-7.995773,0.653500,-12.235313,2.013273e-34,9.897859e-34,92.347146,-3.059399,0.304541,-10.045944,9.572691e-24,9.485442e-23,92.347146,3.089634,0.339710,9.094908,9.466620e-20,8.588467e-19
AGAP003759,10.719741,-5.378602,0.959714,-5.604379,2.090031e-08,4.072455e-08,10.719741,-5.131483,0.958601,-5.353095,8.646223e-08,2.664859e-07,10.719741,5.940372,1.373805,4.324030,1.532043e-05,4.189762e-05
AGAP003760,8.169737,-5.643435,1.148571,-4.913441,8.949172e-07,1.608683e-06,8.169737,-4.591746,1.009399,-4.548989,5.390430e-06,1.388762e-05,8.169737,3.995402,1.146615,3.484518,4.930238e-04,1.130073e-03
AGAP010448,12.334109,-3.008486,1.158578,-2.596706,9.412248e-03,1.310187e-02,12.334109,-6.386877,1.521738,-4.197095,2.703609e-05,6.447929e-05,12.334109,2.551536,1.204825,2.117765,3.419499e-02,5.836905e-02
AGAP011667,62.639876,-5.958803,0.515548,-11.558199,6.710138e-31,2.952670e-30,62.639876,-2.969216,0.391512,-7.583976,3.351240e-14,1.722556e-13,62.639876,2.571002,0.415739,6.184174,6.242852e-10,2.562171e-09
AGAP008222,4.184631,-5.144193,1.528093,-3.366414,7.615236e-04,1.155359e-03,4.184631,-2.980982,1.242071,-2.400009,1.639466e-02,2.738146e-02,4.184631,3.416061,1.506655,2.267314,2.337103e-02,4.131216e-02